

body{
  text-align: center;
  background-color: black;
  color: white;
}

.choice{
  display: inline-block;
  margin: 20px;
}

#rock{
  height: 150px;
  width: 150px;
}

#paper{
  height: 150px;
  width: 150px;
}

#scissors{
  height: 150px;
  width: 150px;
}
